#AboutComponent {
  min-height: 60vh;
  max-width: @max-width;
  padding: 150px 0px;

  flex-direction: row;

  .portrait-div {
    width: 40%;

    .image-container-div {
      height: 70%;
      align-items: center;
      justify-content: center;

      .image-div {
        @size: 270px;
        background-color: @darkest-gray;

        width: @size;
        height: @size;

        border-radius: 100vw;
        border: 7px solid white;

        box-shadow: 0px 0px 15px rgba(@black, 0.3);
      }
    }
    .links-div {
      height: 30%;

      flex-direction: row;
      align-items: center;
      justify-content: center;

      gap: 20px;

      .about-elem {
        position: relative;
        @size: 50px;

        background-color: @darkest-gray;
        height: @size;
        width: @size;

        border-radius: 10px;

        &:hover {
          background-color: @black;
        }

        .image {
          position: absolute;
          bottom: 10%;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);

          height: calc(@size * 2 / 3);
          width: calc(@size * 2 / 3);
        }
      }
    }
  }

  .intro-div {
    padding: 50px;
    width: 60%;

    color: @black;

    .title {
      font-weight: 500;
      font-size: 28px;
      margin: 30px 0px;
    }
    .header {
      font-weight: 400;
      font-size: 20px;
      margin: 15px 0px;
    }
    .text {
      font-weight: 300;
      font-size: 17px;
      margin: 5px 0px;
    }
  }
}
