/* IMPORTS */

@import url("./HeaderStyles.less");
@import url("./LandingStyles.less");
@import url("./AboutStyles.less");
@import url("./SkillsStyles.less");
@import url("./ProjectsStyles.less");

/* VARS */
@black: #101010;
@dark-gray: #606060;
@light-gray: #a0a0a0;
@off-white: #edeeef;
@white: #eeeeee;
@bright-white: #ffffff;

@soft-blue: #317aa5;
@orange: #f5a11b;

@max-width: 1200px;

body,
html {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  background-color: @off-white;
}

div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

* {
  font-family: "Montserrat", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

#main-page {
  align-items: center;
}
