#SkillsComponent,
#ProjectsComponent,
#TimelineComponent,
#ContactComponent {
  padding-bottom: 150px;
  text-align: center;
  color: @black;

  &,
  div {
    align-items: center;
  }

  span {
    text-shadow: 0px 0px 2px rgba(@black, 0.2);
  }
  span.title {
    font-weight: 400;
    font-size: 50px;
  }
  span.text,
  span.text-highlight {
    font-weight: 400;
    font-size: 18px;

    margin: 0px 30px;
  }

  .header {
    margin: 100px 0px 50px 0px;
    gap: 20px;
    .text,
    .text-highlight {
      max-width: 600px;
    }
    .text-highlight {
      a {
        color: @dark-orange;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  .card-container {
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
    align-items: flex-start;

    max-width: @max-width;
  }

  .skill-card {
    width: 300px;
    padding: 30px;
    gap: 20px;

    .image-div {
      @size: 150px;
      height: @size;
      width: @size;

      background-color: @white;
      border-radius: 100vh;

      justify-content: center;

      .image {
        height: calc(@size * 3 / 5);
        width: calc(@size * 3 / 5);
      }

      .letters {
        color: @orange;
        font-size: 50px;
        font-weight: 600;
      }
    }

    span.title {
      font-size: 28px;
    }
    span.text {
      font-size: 14px;
      opacity: 0.7;
    }
  }

  @media screen and (max-width: @bp-mid) {
    padding-bottom: 100px;
    .header {
      margin: 60px 0px;
      gap: 20px;
      span.title {
        font-size: 40px;
      }
    }
    span.text,
    span.text-highlight {
      font-size: 18px;
    }
    .card-container {
      padding: 30px;
      .skill-card {
        width: 250px;
        padding: 30px;
        gap: 15px;
        .image-div {
          @size: 110px;
          height: @size;
          width: @size;
          .image {
            height: calc(@size * 3 / 5);
            width: calc(@size * 3 / 5);
          }
        }
      }
    }
  }

  @media screen and (max-width: @bp-small) {
    span.text,
    span.text-highlight {
      font-size: 15px;
    }
    .card-container {
      padding: 5px;
      .skill-card {
        width: 200px;
        padding: 20px;
        gap: 10px;
        .image-div {
          @size: 90px;
          height: @size;
          width: @size;
          .image {
            height: calc(@size * 3 / 5);
            width: calc(@size * 3 / 5);
          }
        }
        span.title {
          font-size: 20px;
        }
      }
    }
  }
}

#SkillsComponent {
  @inner-shadow: inset 0 -100px 100px -140px @black, inset 0 100px 100px -100px rgba(@black, 0.1);
  background-color: @soft-blue;
  color: @bright-white;
}
